In [29]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import netCDF4 as nc
from datetime import datetime 
from tqdm import tqdm

In [30]:
years = np.arange(2000, 2023, 1)

# Flatten the data
data = []

for year in tqdm(years):

    file_path = 'data/total_precipitation/tp.daily.calc.era5.0d50_CentralEurope.' + str(year) + '.nc'

    nc_file = nc.Dataset(file_path)
    lon = nc_file.variables['lon'][:]
    lat = nc_file.variables['lat'][:]
    dates = nc_file.variables['time'][:]

    for i, date in enumerate(dates):
        for j in range(len(lat)):
            for k in range(len(lon)):
                tp = nc_file.variables['tp'][i, j, k]
                # Convert day of the year to a timestamp
                year_start = datetime(year, 1, 1)
                timestamp = year_start + pd.Timedelta(days=int(date))
                data.append([timestamp, lat[j], lon[k], tp])

    nc_file.close()

100%|██████████| 23/23 [09:09<00:00, 23.90s/it]

        date    lat   lon                     tp
0 2000-01-01  55.25  4.75  0.0034648182336241007
1 2000-01-01  55.25  5.25  0.0035250188084319234
2 2000-01-01  55.25  5.75   0.003562331199645996
3 2000-01-01  55.25  6.25  0.0038031338481232524
4 2000-01-01  55.25  6.75    0.00407540809828788

In [61]:
# Create DataFrame
precip_df = pd.DataFrame(data, columns=['date', 'lat', 'lon', 'tp'])

precip_df['tp'] = np.round([d_year[-1].item() for d_year in data], 10)

precip_df.head()

        date    lat   lon        tp
0 2000-01-01  55.25  4.75  0.003465
1 2000-01-01  55.25  5.25  0.003525
2 2000-01-01  55.25  5.75  0.003562
3 2000-01-01  55.25  6.25  0.003803
4 2000-01-01  55.25  6.75  0.004075

In [62]:
# Split df for saving 

df_2000_to_2011 = precip_df[(precip_df['date'].dt.year >= 2000) & (precip_df['date'].dt.year <= 2011)]
df_2012_to_2023 = precip_df[(precip_df['date'].dt.year >= 2012) & (precip_df['date'].dt.year <= 2023)]

# Print the first few rows of each DataFrame to verify
print("DataFrame from 2000 to 2011:")
print(df_2000_to_2011.head())

print("\nDataFrame from 2012 to 2023:")
print(df_2012_to_2023.head())

df_2000_to_2011.to_csv('data/total_precipitation/precip_2000_2011.csv', index=False)
df_2012_to_2023.to_csv('data/total_precipitation/precip_2012_2023.csv', index=False)

DataFrame from 2000 to 2011:
        date    lat   lon        tp
0 2000-01-01  55.25  4.75  0.003465
1 2000-01-01  55.25  5.25  0.003525
2 2000-01-01  55.25  5.75  0.003562
3 2000-01-01  55.25  6.25  0.003803
4 2000-01-01  55.25  6.75  0.004075

DataFrame from 2012 to 2023:
              date    lat   lon        tp
2121372 2012-01-01  55.25  4.75  0.003736
2121373 2012-01-01  55.25  5.25  0.003970
2121374 2012-01-01  55.25  5.75  0.004397
2121375 2012-01-01  55.25  6.25  0.005269
2121376 2012-01-01  55.25  6.75  0.006495

In [20]:
lats = [53.25]
longs = [10.75]

485.32602739726025